{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron card card-image" style="background-image: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>NEWS HIGHLIGHTS</strong></h2>
        <p class="mx-5 mb-5">Get up to date with the latest news</p>
        <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i>HEADLINES</a>
      </div>
    </div>
  </div>
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">General</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {{ macro.displayNewsSources(general) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Business</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {{ macro.displayNewsSources(business) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Technology</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {{ macro.displayNewsSources(technology) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Sports</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {{ macro.displayNewsSources(sports) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Entertainment</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {{ macro.displayNewsSources(entertainment) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Health</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {{ macro.displayNewsSources(health) }}
    </div>
{% endblock %}